body {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: "Palatino Linotype", sans-serif;
}

.father {
    display: grid;
    grid-template-columns:auto 1fr 1fr 1fr;
    grid-template-rows: auto auto 1fr 1fr;
}

.header {
    background-color: rgb(161, 220, 129);
    height: 80px;
    text-align: center;
    text-transform: capitalize;
    padding-top:0.1%;
    border:3px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-family: "Merriweather", serif;
    font-size: 24px;
    background-image: url('/images/stacked-waves-haikei.png');
    color: #eef;
    text-align: center;
    text-transform: uppercase;
    grid-column: 1/-1;
}

.nav {
    background-color: rgb(161, 220, 129);
    height: 50px;
    text-align: justify;
    text-transform: capitalize;
    border-left:3px solid rgb(255, 255, 255);
    border-right:3px solid rgb(255, 255, 255);
    border-radius: 15px;  
    float: right;
    grid-column: 1/-1;
    grid-row: 2/2;
}

.article {
    background-color: rgb(161, 220, 129);
    text-align: justify;
    text-transform: capitalize;  
    height:600px;
    width:740px;
    float:left;
    border:3px solid rgb(255, 255, 255);
    border-radius: 15px;
    font-size: 20px;
    line-height: 30px;
    margin: 20px auto;
    grid-column: 1/4;
    grid-row: 3/5;
}

.aside {
    background-color: rgb(161, 220, 129);
    text-align: justify;
    text-transform: capitalize;
    height:600px;
    width:520px;
    border:3px solid rgb(255, 255, 255);

    border-radius: 15px;
    grid-column: 4/5;
    grid-row: 3/5;
}

.footer {
    height: 50px;
    text-transform: capitalize; 
    text-align: justify;
    background-color: rgb(161, 220, 129);
    border-left:3px solid rgb(255, 255, 255);
    border-right:3px solid rgb(255, 255, 255); 
    border-radius: 15px; 

    grid-column: 1/-1;
    grid-row: 5/6;
}

section {
    margin: 20px auto;
}

img {
    width: 25%;
    clear: both;
}

